.add-product-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 500px;
    width: 100%;
    padding: 1rem 5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-group input[type="text"],
.form-group input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

.form-group select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

.form-group label {
    display: flex;
    flex: 0 0 200px;
    font-weight: bold;
}

.input-wrapper.image-group {
    flex-direction: column;
    gap : 8px; 
}

.input-wrapper.image-group label {
    flex: 0 0 20px;
}

.form-group:last-child {
    margin-top: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-group input[type="submit"] {
    display: block;
    width: 100%;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #218838;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
}

.form-group span{
    text-align: end;
    color: rgb(255, 107, 107);
}

@media (max-width: 800px) {
    .add-product-form {
        min-width: auto;
        padding: 1rem;
    }
    
    .input-wrapper {
        flex-direction: column;
    }
    
    .form-group label {
        flex: 0 0 auto;
    }
}
