.product-list-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.product-list-wrapper {
    width: 100%;
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.25rem;
}

.not-elements-found-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

