.complete-google-signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.input-label {
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
    text-align: left;
}

.is_required::after {
    content: " *";
    color: rgb(0, 0, 0);
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
}

.complete-google-signup-form button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.complete-google-signup-form button:hover {
    background-color: #0056b3;
}