.filters-options-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 80%;
}

@media (max-width: 1000px) {
    .filters-options-wrapper {
        flex-direction: column;
    }
}